body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.container {
    display: block;
    float: left;
    width: 50%;
}

.header {
    text-align: center;
    font-size: 4em;
}

.input-box {
    margin-top: 1.5em;
    margin-bottom: 1.5em;
}

.sample-box {
    width: 20em;
    float: left;
    display: block;
}

.problem-list {
    margin-top: 5em;
    width: 50%;
    border: 1px solid black;
    border-collapse: collapse;
}

.problem-list th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

.navigate-bar h1 {
    font-size: 30px;
    padding: 0px 15px;
    color: white;
    float: left;
    vertical-align: middle;
}

.navigate-bar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

.navigate-bar li {
    float: right;
    height: auto;
}

.navigate-bar li a {
    display: inline-block;
    color: white;
    font-size: 15px;
    text-align: center;
    padding: 35px 35px;
    text-decoration: none;
}

.navigate-bar li a:hover {
    background-color: #111;
}
