doctype html
html
    head
        title= title
        link(rel='stylesheet', href='/stylesheets/style.css')
    body
        // Navigating bar
        div(id = 'header')
            nav(class = 'navigate-bar' id = 'navigate')
                ul
                    h1 iJudge
                    li: a(href = '/logout' id = 'log_out') Logout
                    li: a(href = '/login' id = 'log_in') Login
                    li: a(href = '/edit_evaluation' id = 'edit_evaluation') Add evaluation
                    li: a(href = '/add_problem' id = 'add_problem') Add new problem
                    li: a(href = '/problem_list/page/1') All problems
                    li: a(href = '/') Home
        script.
            function get_username(cookie) {
                var pos = cookie.indexOf('**');
                return (cookie.substring(0, pos)).substring(5);
            }

            function display_user() {
                var cookie = document.cookie;
                var user = document.createElement('a');
                var navigate_bar = document.getElementById('navigate');
                var header = document.getElementById('header');
                user.className = 'username';
                user.style.float = 'right';

                if (cookie == '' || cookie == undefined) {
                    user.href = '/create_account';
                    user.innerHTML = 'Create new account';
                    user.style.fontSize = '14px';
                }
                else {
                    var username = get_username(cookie);
                    user.innerHTML = username;
                }
                header.insertBefore(user, navigate_bar);
                header.insertBefore(document.createElement('br'), navigate_bar);
            }

            function display_login_logout() {
                var cookie = document.cookie;
                var login = document.getElementById('log_in');
                var logout = document.getElementById('log_out');

                if (cookie == '' || cookie == undefined) {
                    login.style.display = 'block';
                    logout.style.display = 'none';
                }
                else {
                    login.style.display = 'none';
                    logout.style.display = 'block';
                }
            }

            function is_admin(cookie) {
                var pos = cookie.indexOf('**', cookie) + 2;
                return (cookie[pos] == '1');
            }

            function display_add_problem() {
                var cookie = document.cookie;
                if (cookie == undefined || cookie == '' || !is_admin(cookie)) {
                    var add_problem = document.getElementById('add_problem');
                    var edit_evaluation = document.getElementById('edit_evaluation');
                    add_problem.style.display = 'none';
                    edit_evaluation.style.display = 'none';
                }
            }

            display_user();
            display_login_logout();
            display_add_problem();

        block content