extends layout

block content
    div
        table(class = 'problem-list' align = 'center')
            col(width = '20%')
            col(width = '80%')
            tr
                th= 'ID'
                th= 'Operation'
            - for (var i = 0; i < arg.length; ++i)
                tr
                    td(style = 'text-align: center;')= arg[i]
                    td(style = 'text-align: center;')
                        a(href = '/edit_evaluation?id=' + arg[i]) edit
                        span &nbsp; &nbsp;
                        a(href = '/delete_evaluation/' + arg[i]) delete
