extends layout

block content
    div(style = 'margin-top: 2em;' align = 'center')
        table(style = 'border: none;')
            tr
                td(style = 'border: none;')
                    span
                        b User Input:
                    br
                    br
                    textarea(cols = 60 rows = 25 style = "overflow: scroll; white-space: nowrap;" )= arg_content
                td(style = 'border: none; padding-left: 4%')
                    span
                        b Result:
                    br
                    br
                    textarea(cols = 60 rows = 25 style = "overflow: scroll; white-space: nowrap;" )= arg_result